@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
  --font-bbh-bartle: "BBH Bartle", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --font-zalando-expanded: "Zalando Sans Expanded", sans-serif;
  --breakpoint-xs: 440px;
  --breakpoint-xl: 1214px;
  --breakpoint-lg: 920px;
};


body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f4e5;
}